<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Twitter Feed <%= TwitterFeed.Web.LayoutView.current_year() %></span>
    </div>
  </div>
</footer>
